name: Build

on: [push, pull_request, workflow_dispatch]

jobs:
  # Job to buildwheels on all platforms
  build_wheels:
    name: Build wheels on ${{ matrix.name}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: Windows
            os: windows-2016
            compiler: msvc-2017
            build-cversion: 15
            build-runtime: MD
            build-config: Release

          # - name: Linux_gcc9
          #   os: ubuntu-18.04
          #   build-compiler: gcc
          #   build-cversion: 9
          #   build-config: Release
          #   build-os: Linux
          #   build-libcxx: libstdc++

          - name: Macos_xcode10.3
            os: macos-10.15
            build-compiler: apple-clang
            build-cversion: "10.0"
            build-config: Release
            build-os: Macos
            build-xcode-version: 10.3
            build-libcxx: libc++
    steps:
      - name: Checkout the source
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup python 3 version
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"

      - name: Setup gcc for Linux
        if: startsWith(runner.os, 'Linux')
        uses: egor-tensin/setup-gcc@v1
        with:
          version: ${{matrix.build-cversion}}
          platform: x64

      - name: Windows build
        if: startsWith(runner.os, 'Windows')
        uses: ./.github/conan_windows_build
        with:
          conan-visual-version: ${{matrix.build-cversion}}
          conan-visual-runtime: ${{matrix.build-runtime}}
          conan-build-type: ${{matrix.build-config}}
          conan-user: ${{secrets.LKEB_ARTIFACTORY_USER}}
          conan-password: ${{secrets.LKEB_ARTIFACTORY_PASSWORD}}

      - name: Linux Mac build
        if: "!startsWith(runner.os, 'Windows')"
        uses: ./.github/conan_linuxmac_build
        with:
          conan-compiler: ${{matrix.build-compiler}}
          conan-compiler-version: ${{matrix.build-cversion}}
          conan-libcxx-version: ${{matrix.build-libcxx}}
          conan-build-type: ${{matrix.build-config}}
          conan-build-os: ${{matrix.build-os}}
          conan-user: ${{secrets.LKEB_ARTIFACTORY_USER}}
          conan-password: ${{secrets.LKEB_ARTIFACTORY_PASSWORD}}
